<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bechdel Test For Tamil Cinema</title>

  
   <%= stylesheet_link_tag "bechdel" %>
</head>


<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i> SWIFT                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#download">Get Involved</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1>Bechdel Test For Tamil Cinema</h1 >
                        <p class="intro-text">To gauge the nature of women's presence in Tamil movies.</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Bechdel Test</h2>
                <p>The Bechdel Test is a simple way to gauge the nature of women's presence in movies (and other works of fiction). For a movie to pass this test, the criteria is as follows:<br>

1. The movie must have atleast two women (with names) <br>
2. Who talk to each other <br>
3. About anything but a man.</p>
                <p>The test has been run on English movies for many years now and there is ample data (even APIs) and research material available. However, there is no such data available for Tamil Cinema. This project will serve as a platform for a crowd sourcing the data and results of the Bechdel test for Tamil movie. We hope to make the platform language agnostic in the future.</p>
              
               <%= link_to 'add' , movies_addmovies_path %>
               <%= link_to 'movieslist' , movies_list_list_path %>

            </div>
        </div>
    </section>
    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Download Bechdel Test</h2>
                    <p>If you wish to make the project better by contributing to code, here's the link to the Gitlab repo.</p>
                    <a href="https://gitlab.com/fsftn/Bechdel-test-for-tamil-cinema" class="btn btn-default btn-lg">Visit Download Page</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact Bechdel Test</h2>
                <p>Feel free to email us to provide some feedback on our Project, give us suggestions for new ideas, to our swift mailnglist.</p>
                <p><a href="mailto:feedback@startbootstrap.com">swift@fsftn.org</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="https://gitlab.com/fsftn/Bechdel-test-for-tamil-cinema" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Gitlab</span></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

       
    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; Your Website 2016</p>
        </div>
    </footer>

  

</body>

</html>
